body {
  margin: 0;
  padding: 0;
}

@keyframes incoming {
  0%, 70% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes blink {
  from {
    background: #2b8c37;
    border: solid 3px #999;
  }
  to {
    background: #111;
    border: solid 3px transparent;
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
