.game-main {
  background: url('https://s-media-cache-ak0.pinimg.com/originals/32/ae/4e/32ae4e3f48b62ff2b341e9f72c11134f.jpg') no-repeat;
  background-size: cover;
  text-align: center;
  overflow: hidden;
  min-height: 100vh;

  .magnum-spinner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Yellowtail', cursive;
    color: #fff;
    font-size: 5vw;

    img {
      animation: spin 1s linear infinite;
    }

    p {
      margin: 0;
    }
  }

  .visual {
    max-width: 100%;
    max-height: 40%;
    margin: 20px 20px 0;
    overflow: hidden;

    > .video {
      max-width: 100%;
      max-height: 315px;

      @media screen and (max-width: 768px) {
        max-height: 200px;
      }
    }

    @media screen and (max-width: 768px) {
      margin: 1vh 10px 0;
    }
  }

  .progress-bar {
    margin: 0;
    padding: 0;

    li {
      transition: all 0.1s;
      width: 1.8vw;
      height: 1.8vw;
      text-align: center;
      line-height: 1.8vw;
      border-radius: 50%;
      background: #54C3BC;
      margin: 0 2vw;
      display: inline-block;
      color: white;
      position: relative;

      &:first-child:before {
        display: none;
      }

      &:before{
        content: '';
        position: absolute;
        top: 0.6vw;
        left: -4.25vw;
        width: 4.5vw;
        height: 0.6vw;
        background: #54C3BC;
        z-index: 0;
      }

      &.active {
        width: 2.6vw;
        height: 2.6vw;
        top: 0.4vw;
        background: #54C3BC;
        z-index: 3;

        &:before {
          top: 1vw;
        }

        & ~ li {
          background: #ccc;

          &:before {
            background: #ccc;
          }
        }
      }
    }
  }

  .text {
    padding: 20px;
    text-align: center;
    background: #444;
    margin-top: -1.3vw;

    .question {
      font-family: 'Yellowtail', cursive;
      color: white;
      animation: incoming 2s;
      font-size: 5vw;

      @media screen and (min-width: 1024px) {
        font-size: 3vw;
      }
    }

    .answers {
      margin: 20px 0;
      display: table;
      width: 100%;

      @media screen and (max-width: 768px) {
        text-align: center;
        margin: 1vh 0;
      }

      span {
        display: inline-block;
        padding: 10px;
        animation: incoming 2s;
        width: 45%;
        vertical-align: top;

        &:nth-of-type(1) {
          animation-delay: 0.3s;
        }

        &:nth-of-type(2) {
          animation-delay: 0.6s;
        }

        &:nth-of-type(3) {
          animation-delay: 0.9s;
        }

        &:nth-of-type(4) {
          animation-delay: 1.2s;
        }

        &:nth-of-type(n) > .item:hover {
          background: #54C3BC;
          border-color: #54C3BC;
          color: white;
        }

        &:nth-of-type(2) > .item:hover, &:nth-of-type(3) > .item:hover {
          background: #EE99C2;
          border-color: #EE99C2;
          color: white;
        }

        @media screen and (max-width: 768px) {
          &:nth-child(n) {
            padding: 0;
            min-width: 80%;
            float: none;
          }

          &:nth-of-type(n) > .item:hover {
            background: #54C3BC;
            border-color: #54C3BC;
            color: white;
          }

          &:nth-of-type(2n) > .item:hover {
            background: #EE99C2;
            border-color: #EE99C2;
            color: white;
          }
        }

        .item {
          display: flex;
          justify-content: center;
          outline: none;
          min-width: 100%;
          min-height: 100px;
          font-family: 'Yellowtail', cursive;
          border: solid 3px #999;
          border-radius: 10px;
          line-height: 4vw;
          padding: 12px 55px;
          margin: 10px auto;
          cursor: pointer;
          font-size: 4vw;
          color: #fff;
          transition: all 0.3s ease-in-out;
          transform: translate(0);
          background: #111;
          box-shadow: rgb(41, 41, 41) 1px 1px,
          rgb(41, 41, 41) 2px 2px,
          rgb(41, 41, 41) 3px 3px,
          rgb(41, 41, 41) 4px 4px,
          rgb(41, 41, 41) 5px 5px,
          rgb(41, 41, 41) 6px 6px,
          rgb(51, 51, 51) 7px 7px;
          align-items: center;
          text-align: center;
          box-sizing: border-box;
          text-rendering: auto;
          letter-spacing: normal;
          word-spacing: normal;
          text-transform: none;
          text-shadow: none;

          &:hover {
            box-shadow: rgb(41, 41, 41) 1px 1px,
            rgb(41, 41, 41) 2px 2px,
            rgb(41, 41, 41) 3px 3px;
            transform: translate(1px, 1px);
          }

          &.error, &:hover.error {
            pointer-events: none;
            box-shadow: none;
            transform: translate(3px, 3px);
            border: solid 3px transparent;
            background: #a43f29;
          }

          &.success, &:hover.success {
            pointer-events: none;
            box-shadow: none;
            transform: translate(3px, 3px);
            border: solid 3px transparent;
            background: #2b8c37;
            animation: blink 0.7s infinite;
          }

          &.active, &:hover.active {
            text-shadow: 0 0 5px #111;
            box-shadow: none;
            transform: translate(3px, 3px);
            background: #1F1E3E;
            border: solid 3px transparent;
          }

          @media screen and (max-width: 768px) {
            min-height: initial;
            font-size: 4vw;
            padding: 7px 55px;
          }

          @media screen and (min-width: 1024px) {
            font-size: 2.5vw;
          }
        }
      }
    }
  }
}
