.menu {
  background: #54C3BC;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

  .container {
    position: absolute;
    left: 5%;
    text-align: center;
    width: 530px;

    @media screen and (max-width: 768px) {
      left: 0;
      top: 1%;
      width: 100%;
    }
  }

  .title {
    background: url('../assets/img/logoGGJ16.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: white;
    text-shadow: 0 0 23px black;
    margin: 10px;
    height: 20vw;
    margin-top: -30px;

    @media screen and (max-width: 768px) {
      height: 30vw;
    }
  }

  .subtitle {
    font-family: 'Yellowtail', cursive;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 23px black;
    margin-top: -3vw;

    @media screen and (max-width: 768px) {
      font-size: 5vw;
      margin-top: -5vw;
    }

    small {
      font-size: 20px;
      margin-right: 5px;
      text-shadow: 0 0 13px black;
    }
  }

  .buttons {
    margin-top: 20px;

    button {
      outline: none;
      font-family: 'Yellowtail', cursive;
      display: block;
      padding: 12px 55px;
      margin: 30px auto;
      cursor: pointer;
      font-size: 30px;
      color: #777;
      text-transform: none;
      transition: all 0.3s ease-in-out;
      animation: incoming 2s;
      border: none;
      z-index: 1;
      filter: invert(0%) drop-shadow(3px 3px 0px #777);

      &:nth-child(1) {
        background: url('../assets/img/mustache1.png') center  no-repeat;
        background-size: 100%;
        padding-top: 7px;
      }

      &:nth-child(2) {
        color: #fff;
        background: url('../assets/img/mustache2.png') center no-repeat;
        animation-delay: 0.3s;
        background-size: 80% 80%;
      }

      &:nth-child(3) {
        color: #fff;
        background: url('../assets/img/mustache4.png') no-repeat;
        animation-delay: 0.6s;
        background-size: 100% 90%;
        width: 200px;
        height: 110px;
        position: relative;

        > span {
          position:absolute;
          top: 13%;
          left: 21%;
        }
      }

      &:nth-child(4) {
        color: #fff;
        background: url('../assets/img/mustache3.png') no-repeat;
        animation-delay: 0.9s;
        background-size: 100% 70%;
        width: 140px;
        height: 170px;
        position: relative;

        > span {
          position:absolute;
          top: 1%;
          left: 25%;
        }
      }

      &:hover, &:active {
        outline: none;
        filter: invert(100%) drop-shadow(3px 3px 0px #777);
      }

      @media screen and (max-width: 768px) {
        margin: 5px auto;
      }
    }
  }

}
.bg-strips {
  padding: 0;
  margin: 0;
  transform: rotate(-25deg) translate(-5%, 85vh);
  width: 100%;
  height: auto;
  display: block;
  position: absolute;

  @media screen and (max-width: 1024px) {
    transform: rotate(-25deg) translate(-25%, 93vh);
  }

  li {
    padding: 0;
    margin: 0 0 15px;
    list-style: none;
    display: block;
    height: 40px;
    width: 200%;
    background: white;

    &:nth-child(2n) {
      background: #EE99C2;
    }
  }
}
